{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}



<div class="d-sm-flex align-items-center justify-content-between mb-4"
     xmlns:border-collapse="http://www.w3.org/1999/xhtml">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option class='bolden'><b>select</b></option>
                        <option >2</option>
                        <option >3</option>


                </select>
                <style>
                    .bolden{font-family:"Arial Black"}
                </style>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th width="400px">Variant</th>
                    <th width="150px">Action</th>

                </tr>
                </thead>

                <tbody>
                {% for product in product_list %}

                <tr>
                    <td>{{product.pk}}</td>
                    <td> {{product.title}} <br> Created at : {{product.created_at}}</td>

                    <td>{{ product.description}}</td>
                    <td>
                    <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                        {% for variant in product.variations %}
                                <dt class="col-sm-3 pb-0">
                                    Trying
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-5 pb-0">Price : {{ variant.price }}</dt>
                                        <dd class="col-sm-8 pb-0">InStock : {{variant.stock}}</dd>
                                    </dl>
                                </dd>
                        {% endfor %}
                            </dl>
                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{page_obj.start_index}} to {{page_obj.end_index  }} out of {{ page_obj.paginator.count }}</p>
            </div>
            <div class="col-md-2">
                {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}